<!DOCTYPE html>
<html>
    {% extends 'rango/base.html' %}
    {% load static %}
	{% block title %}About{% endblock %}
	{% block body_block %}
    <head>
        <title>About</title>
    </head>

    <body>
		<div class="hero-unit">
		<h1>About Rango</h1>
        This tutorial has been put together by <strong>{{student_name}},{{student_number}}</strong><br/>
        Number of visits:<strong> {{visits}}</strong>
		<img src="{% static "static.jpg"%}" alt="image from static media"/>
		</div>
    </body>
    {%endblock%}
</html>